{# extend the parent tpl #}
{% extends 'admin/layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Vinyl Collection' %}


{# overwrite the pageContent block #}
{% block pageContent %}

<div class="row">

	<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 col-md-3">
		<div class="well clearfix">
			<form action="{{ baseUrl }}" method="GET" {{ form_enctype(filterform) }}  novalidate="novalidate" role="form">
				<fieldset>
					<legend>Filter Collection</legend>
					<div class="form-group">
						{{ form_label(filterform.title) }}
						{{ form_widget(filterform.title, { 'attr': {'class': 'form-control'} }) }}
					</div>
					<div class="form-group">
						{{ form_label(filterform.genres, 'Genre')}}
						{{ form_widget(filterform.genres, { 'attr': {'class': 'form-control'} })  }}
					</div>
					<div class="form-group">
						{{ form_label(filterform.year) }}
						{{ form_widget(filterform.year, { 'attr': {'class': 'form-control'} })  }}
					</div>
					<input type="hidden" id="filterform__token" name="filterform[_token]" value="45072b220b3b190f6f6d863b5cd2a0d55f523c54" />
					{{ form_widget(filterform._token) }}
					<input type="submit" class="btn btn-primary pull-right" value="Filter" />
				</fieldset>
			</form>
		</div>
	</div>

	<div class="col-sm-12 col-md-9">

		<div class="row">
			{% for album in albums %}
				<article class="album col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
					<a href="spotify:search:{{ album.naam|url_encode()}},%20{{ album.title|url_encode()}}">
						<div class="album-cover"><img src="/uploads/{{ album.id }}.png" /></div>
						<p class="album-title">{{ album.title|convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
						<p class="album-artist">{{ album.naam|convert_encoding('UTF-8', 'ISO-8859-1') }}</p>
						<p class="album-year text-muted"><em>{{ album.released }}</em></p>
					</a>
				</article>
			{% endfor %}
		</div>

		{% include  'admin/music/pagination.twig' %}

	</div>
</div>

{% endblock %}