<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Inventario</title>
		<meta charset="UTF-8" />
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{# Global Css Start #}
		<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/globalStyle.css" />
		
		{# Global Css END #}
		{% block pageCss %}
		{% endblock %}

	</head>
	<body>
		<header>
			<a href="{{ app.request.baseUrl }}" id="logo" ></a>
			<div class="headdercontent"></div>
			{% if access_level > 299 %}
				<ul class="main-menu">
					<li class="{% if 'Inventario' in app.request.attributes.get('_route') %}active{% endif %}" data="{{app.request.attributes.get('_route')}}"> <a href="{{ path('Inventory.laptops') }}">Inventario</a></li>
					<li> <a href="{{ path('Import') }}">Import</a></li>				
					<li> <a href="{{ path('Export') }}">Export</a></li>
					{% if access_level > 499 %}
					<li> <a href="{{ path('Export') }}">Admin</a></li>
					{% endif %}
				</ul>
				<div class="side-menu">
					<div id="holaUsername">Hola {{username}}</div>
					<a class="auth-link" href="{{ app.request.baseUrl }}/Auth/logout">Logout</a>
				</div>
			{% endif %}
		</header>
		<div class="clear"></div>
		<div class="wrapper">
			<div class="page-content clearfix">
				{# pageContent Start #}
				{% block pageContent %}
				{% endblock %}
				{# pageContent END #}
			</div>
		</div>
		<div class="clear"></div>
		<footer>
			© 2016 Fundación Zamora Terán. Todos los derechos reservados.
		</footer>

		<script src="{{ app.request.baseUrl }}/js/jquery-2.1.3.min.js"></script>
		{# pageScripts Start #}
		{% block pageScripts %}
		{# pageScripts END #}
		{% endblock %}
	</body>
</html>