<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Inventario</title>
		<meta charset="UTF-8" />
		<meta http-equiv="cleartype" content="on" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{# Global Css Start #}
		<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/globalStyle.css" />
		
		{# Global Css END #}
		{% block pageCss %}
		{% endblock %}

	</head>
	<body>
		<header>
			<a href="{{ app.request.baseUrl }}" id="logo" ></a>
			<div class="headdercontent"></div>
			<ul class="main-menu">
				<li> <a href="{{ path('Inventory.laptops') }}">Inventario</a></li>
				<li> <a href="{{ path('Export') }}">Export</a></li>
				<li> <a href="{{ app.request.baseUrl }}">Personas & localidades</a></li>
				<li> <a href="{{ app.request.baseUrl }}">Admin</a></li>
			</ul>
			<div class="side-menu">
				<a class="auth-link" href="{{ app.request.baseUrl }}/auth/login">Login</a>
			</div>
		</header>
		<div class="clear"></div>
		<div class="wrapper">
			<div class="page-content clearfix">
				{# pageContent Start #}
				{% block pageContent %}
				{% endblock %}
				{# pageContent END #}
			</div>
		</div>
		<div class="clear"></div>
		<footer>
			© 2016 Fundación Zamora Terán. Todos los derechos reservados.
		</footer>

		<script src="{{ app.request.baseUrl }}/js/jquery-2.1.3.min.js"></script>
		{# pageScripts Start #}
		{% block pageScripts %}
		{# pageScripts END #}
		{% endblock %}
	</body>
</html>