{# extend the parent tpl #}
{% extends 'layout.twig' %}
{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Export' %}
{# Page specific css #}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/Export.css" />
{% endblock %}
{% block pageContent %}
	<div class="left">
		{# Page specific content #}
		<h1>Export</h1>
		<div class="clear"></div>
		<section class="active">
			<div class="accordion">
				<div class="accordion-section">
					<a class="accordion-section-title active" href="#accordion-1">Laptops</a>
					<div id="accordion-1" style="display: block;" class="accordion-section-content">
						<h3>include</h3>
						<form action="includelaptops" id="laptopsForm" >
							<div class="checkboxes">
								<input type="checkbox" name="laptops" value="CONCAT(people.name,' ',people.lastname) as name"><div class="boxlabel">owner</div>
								<input type="checkbox" name="laptops" value="laptops.serial_number"><div class="boxlabel">serial_number</div>
								<input type="checkbox" name="laptops" value="models.name as model"><div class="boxlabel">model</div>
								<input type="checkbox" name="laptops" value="statuses.description as status"><div class="boxlabel">status</div>
								<input type="checkbox" name="laptops" value="laptops.uuid"><div class="boxlabel">uuid</div>
								<input type="checkbox" onclick="ShowCountry()" name="laptops" value="places.name as place"><div class="boxlabel">place</div>
								<div class="clear"></div>
								<input type="checkbox" name="laptops" value="people.id_document"><div class="boxlabel">document id</div>
								<input type="checkbox" name="laptops" value="people.barcode"><div class="boxlabel">barcode</div>
								<input type="checkbox" name="laptops" value="IF (laptops.assignee_id = laptops.owner_id, 'yes' ,'No') AS InHands"><div class="boxlabel">In hands</div>
							</div>
							<div class="clear"></div>
							<div class="label Paishidden">
								Pais
							</div>
							<div class="input Paishidden">
								<input  type="text" id="Pais" class="Pais" list="json-datalistPais" placeholder="Pais...">
							</div>
							<datalist id="json-datalistPais"></datalist>
							<div class="label Departamentohidden">
								Departamento
							</div>
							<div class="input Departamentohidden">
								<input type="text" id="Departamento" class="Departamento" list="json-datalistDepartamento" placeholder="Departamento..">
							</div>
							<datalist id="json-datalistDepartamento"></datalist>
							<div class="label Ciudadhidden">
								Ciudad
							</div>
							<div class="input Ciudadhidden">
								<input type="text" id="Ciudad" class="ciudad" list="json-datalistCiudad" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistCiudad"></datalist>
							<div class="label Escuelahidden">
								Escuela
							</div>
							<div class="input Escuelahidden">
								<input type="text" id="Escuela" class="Escuela" list="json-datalistEscuela" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistEscuela"></datalist>
							<div class="label Turnohidden">
								Turno
							</div>
							<div class="input Turnohidden">
								<input type="text" id="Turno" class="Turno" list="json-datalistTurno" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistTurno"></datalist>
							<div class="label gradohidden">
								grado
							</div>
							<div class="input gradohidden">
								<input type="text" id="grado" class="grado" list="json-datalistgrado" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistgrado"></datalist>
							<div class="label Seccionhidden">
								Seccion
							</div>
							<div class="input Seccionhidden">
								<input type="text" id="Seccion" class="Seccion" list="json-datalistSeccion" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistSeccion"></datalist>
							<div class="order">
								<h3>Order by</h3>
								<select id='orderByTerm'>
									<option value="null">Choose wisely!</option>
									<option value="serial_number">serial_number</option>
									<option value="model">model</option>
									<option value="name">name</option>
									<option value="status">status</option>
									<option value="uuid">uuid</option>
									<option value="place">place</option>
									<option value="id_document">document id</option>
									<option value="barcode">barcode</option>
								</select>
								<select id='orderList'>
									<option value="ASC">Ascending</option>
									<option value="DESC">Descending</option>
								</select>
								{#<a href="default.asp">
								  <img id='buttonPlus1' class='buttonplus'  src="{{ app.request.baseUrl }}/img/plus.png">
								</a>
								<a href="default.asp">
								  <img id='buttonminus1' class='buttonMinus' src="{{ app.request.baseUrl }}/img/minus.png">
								</a>#}
							</div>
							<div class="filter">
								<h3>Filter</h3>
								<select id='GroupByTerm'>
									<option value="null">Choose wisely!</option>
									<option value="laptops.serial_number">serial_number</option>
									<option value="models.name">model</option>
									<option value="CONCAT(people.name,' ',people.lastname)">name</option>
									<option value="statuses.description">status</option>
									<option value="laptops.uuid">uuid</option>
									<option value="places.name">place</option>
									<option value="people.id_document">document id</option>
									<option value="people.barcode">barcode</option>
								</select>
								<input type="text" name="fname" id="inputfield" placeholder="search field..."><br>
								<a class="button" id="submitlaptop" role="button">Preview</a>
							</div>
						</form>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-2">Places</a>
					<div id="accordion-2" class="accordion-section-content">
						<h3>places</h3>
						<form action="includelaptops" id="placesForm">
							<div class="checkboxes">
								<input type="checkbox" name="laptops" value="places.name"><div class="boxlabel">Name</div>
								<input type="checkbox" name="laptops" value="place_types.name as typename"><div class="boxlabel">type</div>
								<input type="checkbox" name="laptops" value="school_infos.server_hostname"><div class="boxlabel">server_hostname</div>
							</div>
							<div class="order">
								<h3>Order by</h3>
								<select id='orderByTerm'>
									<option value="null">Choose wisely!</option>
									<option value="places.name">Name</option>
									<option value="typename">type</option>
									<option value="server_hostname">server_hostname</option>
								</select>
								<select id='orderList'>
									<option value="ASC">Ascending</option>
									<option value="DESC">Descending</option>
								</select>
								{#<a href="default.asp">
								  <img id='buttonPlus1' class='buttonplus'  src="{{ app.request.baseUrl }}/img/plus.png">
								</a>
								<a href="default.asp">
								  <img id='buttonminus1' class='buttonMinus' src="{{ app.request.baseUrl }}/img/minus.png">
								</a>#}
							</div>
							<div class="filter">
								<h3>Filter</h3>
								<select id='GroupByTerm'>
									<<option value="null">Choose wisely!</option>
									<option value="places.name">Name</option>
									<option value="place_types.name">type</option>
									<option value="school_infos.server_hostname">server_hostname</option>
								</select>
								<input type="text" name="fname" id="inputfield" placeholder="search field..."><br>
								<a class="button" id="submitplaces" role="button">Preview</a>
							</div>
						</form>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
			</div><!--end .accordion-->	
		</section>
	</div>			
	<div class="preview">
		<h1>preview</h1>
		<div class="clear"></div>
		<div id="pdfcontent">
			<h3 id="place"></h3>
			<h3 id="total"></h3>
			<table id="exportTable">
				
			</table>
			<a class="button" id="DownloadFile" role="button">Download PDF</a>
			<a class="button" id="DownloadFileasExcel" href="excel?data=AZE&test=123" role="button">Download Excel</a>
		</div>
	</div>
	

{% endblock %}
{% block pageScripts %}
	

	<script src="{{ app.request.baseUrl }}/js/jspdf.min.js"></script>
	<script src="{{ app.request.baseUrl }}/js/jspdf.debug.js"></script>
	<script src="{{ app.request.baseUrl }}/js/simple-excel.js"></script>
	<script src="{{ app.request.baseUrl }}/js/jspdf.plugin.autotable.js"></script>
	<script src="{{ app.request.baseUrl }}/js/Export.js"></script>
{% endblock %}