{# extend the parent tpl #}
{% extends 'layout.twig' %}
{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Export' %}
{# Page specific css #}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/Export.css" />
{% endblock %}
{% block pageContent %}
	<div class="left">
		{# Page specific content #}
		<h1>Exportar</h1>
		<div class="clear"></div>
		<section class="active">
			<div class="accordion">
				<div class="accordion-section">
					<a class="accordion-section-title active" href="#accordion-1">Laptops</a>
					<div id="accordion-1" style="display: block;" class="accordion-section-content">
						<h3>Incluir</h3>
						<form action="includelaptops" id="laptopsForm" >
							<div class="checkboxes">
								<input type="checkbox" name="laptops" value="CONCAT(people.name,' ',people.lastname) as name"><div class="boxlabel">Propietario</div>
								<input type="checkbox" name="laptops" value="laptops.serial_number"><div class="boxlabel">Número serial</div>
								<input type="checkbox" name="laptops" value="models.name as model"><div class="boxlabel">Versión</div>
								<div class="clear"></div>
								<input type="checkbox" name="laptops" value="statuses.description as status"><div class="boxlabel">Estado</div>
								<input type="checkbox" name="laptops" value="laptops.uuid"><div class="boxlabel">uuid</div>
								<input type="checkbox" onclick="ShowCountry()" name="laptops" value="places.name as place"><div class="boxlabel">Localidad</div>
								<div class="clear"></div>
								<input type="checkbox" name="laptops" value="people.id_document"><div class="boxlabel">Id del documento</div>
								<input type="checkbox" name="laptops" value="people.barcode"><div class="boxlabel">Código de bar</div>
								<input type="checkbox" name="laptops" value="IF (laptops.assignee_id = laptops.owner_id, 'yes' ,'No') AS InHands"><div class="boxlabel">En manos</div>
							</div>
							<div class="clear"></div>
							<div class="label Paishidden">
								Pais
							</div>
							<div class="input Paishidden">
								<input  type="text" id="Pais" class="Pais" list="json-datalistPais" placeholder="Pais...">
							</div>
							<datalist id="json-datalistPais"></datalist>
							<div class="label Departamentohidden">
								Departamento
							</div>
							<div class="input Departamentohidden">
								<input type="text" id="Departamento" class="Departamento" list="json-datalistDepartamento" placeholder="Departamento..">
							</div>
							<datalist id="json-datalistDepartamento"></datalist>
							<div class="label Ciudadhidden">
								Ciudad
							</div>
							<div class="input Ciudadhidden">
								<input type="text" id="Ciudad" class="ciudad" list="json-datalistCiudad" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistCiudad"></datalist>
							<div class="label Escuelahidden">
								Escuela
							</div>
							<div class="input Escuelahidden">
								<input type="text" id="Escuela" class="Escuela" list="json-datalistEscuela" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistEscuela"></datalist>
							<div class="label Turnohidden">
								Turno
							</div>
							<div class="input Turnohidden">
								<input type="text" id="Turno" class="Turno" list="json-datalistTurno" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistTurno"></datalist>
							<div class="label gradohidden">
								grado
							</div>
							<div class="input gradohidden">
								<input type="text" id="grado" class="grado" list="json-datalistgrado" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistgrado"></datalist>
							<div class="label Seccionhidden">
								Seccion
							</div>
							<div class="input Seccionhidden">
								<input type="text" id="Seccion" class="Seccion" list="json-datalistSeccion" placeholder="Ciudad..">
							</div>
							<datalist id="json-datalistSeccion"></datalist>
							<div class="order">
								<h3>Ordenar por</h3>
								<select id='orderByTerm'>
									<option value="null">Elige sabiamente!</option>
									<option value="serial_number">Número serial</option>
									<option value="model">Versión</option>
									<option value="name">Nombre</option>
									<option value="status">Estado</option>
									<option value="uuid">uuid</option>
									<option value="place">Localidades</option>
									<option value="id_document">Id del documento</option>
									<option value="barcode">Código de bar</option>
								</select>
								<select id='orderList'>
									<option value="ASC">Ascendente</option>
									<option value="DESC">Descendente</option>
								</select>
								{#<a href="default.asp">
								  <img id='buttonPlus1' class='buttonplus'  src="{{ app.request.baseUrl }}/img/plus.png">
								</a>
								<a href="default.asp">
								  <img id='buttonminus1' class='buttonMinus' src="{{ app.request.baseUrl }}/img/minus.png">
								</a>#}
							</div>
							<div class="filter">
								<h3>Filtrar</h3>
								<select id='GroupByTerm'>
									<option value="null">Elige sabiamente!</option>
									<option value="laptops.serial_number">Número serial</option>
									<option value="models.name">Versión</option>
									<option value="CONCAT(people.name,' ',people.lastname)">Nombre</option>
									<option value="statuses.description">Estado</option>
									<option value="laptops.uuid">uuid</option>
									<option value="places.name">Localidad</option>
									<option value="people.id_document">Id del documento</option>
									<option value="people.barcode">Código de bar</option>
								</select>
								<input type="text" name="fname" id="inputfield" placeholder="search field..."><br>
								<a class="button" id="submitlaptop" role="button">Preview</a>
							</div>
						</form>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
				<div class="accordion-section">
					<a class="accordion-section-title" href="#accordion-2">Localidades</a>
					<div id="accordion-2" class="accordion-section-content">
						<h3>Localidades</h3>
						<form action="includelaptops" id="placesForm">
							<div class="checkboxes">
								<input type="checkbox" name="laptops" value="places.name"><div class="boxlabel">Nombre</div>
								<input type="checkbox" name="laptops" value="place_types.name as typename"><div class="boxlabel">Tipo</div>
								<input type="checkbox" name="laptops" value="school_infos.server_hostname"><div class="boxlabel">nombre de host del servidor</div>
							</div>
							<div class="order">
								<h3>Ordenar por</h3>
								<select id='orderByTerm'>
									<option value="null">Elige sabiamente!</option>
									<option value="places.name">Nombre</option>
									<option value="typename">Tipo</option>
									<option value="server_hostname">nombre de host del servidor</option>
								</select>
								<select id='orderList'>
									<option value="ASC">Ascendente</option>
									<option value="DESC">Descendente</option>
								</select>
								{#<a href="default.asp">
								  <img id='buttonPlus1' class='buttonplus'  src="{{ app.request.baseUrl }}/img/plus.png">
								</a>
								<a href="default.asp">
								  <img id='buttonminus1' class='buttonMinus' src="{{ app.request.baseUrl }}/img/minus.png">
								</a>#}
							</div>
							<div class="filter">
								<h3>Filtrar</h3>
								<select id='GroupByTerm'>
									<<option value="null">Elige sabiamente!</option>
									<option value="places.name">Nombre</option>
									<option value="place_types.name">Tipo</option>
									<option value="school_infos.server_hostname">nombre de host del servidor</option>
								</select>
								<input type="text" name="fname" id="inputfield" placeholder="search field..."><br>
								<a class="button" id="submitplaces" role="button">Vista previa</a>
							</div>
						</form>
					</div><!--end .accordion-section-content-->
				</div><!--end .accordion-section-->
			</div><!--end .accordion-->	
		</section>
	</div>			
	<div class="preview">
		<h1>Vista previa</h1>
		<div class="clear"></div>
		<div id="pdfcontent">
			<h3 id="place"></h3>
			<h3 id="total"></h3>
			<table id="exportTable">
				
			</table>
			<a class="button" id="DownloadFile" role="button">Descargar PDF</a>
			<a class="button" id="DownloadFileasExcel" href="excel?data=AZE&test=123" role="button">Descargar Excel</a>
			<a class="button" id="DownloadBarcodes" href="excel?data=AZE&test=123" role="button">Descargar barcodes</a>
		</div>
	</div>
	

{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/js/JsBarcode.all.min.js"></script>
	<script src="{{ app.request.baseUrl }}/js/jspdf.min.js"></script>
	<script src="{{ app.request.baseUrl }}/js/jspdf.debug.js"></script>
	<script src="{{ app.request.baseUrl }}/js/simple-excel.js"></script>
	<script src="{{ app.request.baseUrl }}/js/jspdf.plugin.autotable.js"></script>
	<script src="{{ app.request.baseUrl }}/js/Export.js"></script>
{% endblock %}