{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Inventory' %}

{# Page specific css #}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/lijst.css" />
{% endblock %}
{% block pageContent %}
	{# Page specific content #}
	<div class="menu-left">
		<h1>Resumen</h1>
		<ul>
			<li><a href='#'><span>Laptops</span></a></li>
			<li class='active has-sub'><a href='#'><span>Asignaciones</span></a>
				<ul>
					<li><a href='#'><span>Lista de asignaciones</span></a></li>
					<li><a href='#'><span>Nuevo asignacion</span></a></li>
					<li><a href='#'><span>Asignacion masiva</span></a></li>
				</ul>
			</li>
			<li class='active has-sub'><a href='#'><span>Movmientos</span></a>
				<ul>
					<li><a href='#'><span>Lista de Movimientos</span></a></li>
					<li><a href='#'><span>Nuevo movimiento</span></a></li>
					<li><a href='#'><span>Movimento massivo</span></a></li>
					<li><a href='#'><span>Registrat entrega</span></a></li>
				</ul>
			</li>
			<li><a href='#'><span>Lotes</span></a></li>
			<li class='active has-sub'><a href='#'><span>Reportes</span></a>
				<ul>
					<li><a href='#'><span>Numeros seriales por localidad</span></a></li>
					<li><a href='#'><span>Donde estan las laptops?</span></a></li>
					<li><a href='#'><span>Movimientos</span></a></li>
					<li><a href='#'><span>Movimientos agrupados por tipo</span></a></li>
					<li><a href='#'><span>Laptops por localidad</span></a></li>
					<li><a href='#'><span>Prestamos</span></a></li>
					<li><a href='#'><span>Laptops per estado</span></a></li>
					<li><a href='#'><span>registro de cambios de estado</span></a></li>
					<li><a href='#'><span>Imprimir codigos de barra</span></a></li>
				</ul>
			</li>
			<li class='active has-sub'><a href='#'><span>Configuracion</span></a>
				<ul>
					<li><a href='#'><span>Lista de asignaciones</span></a></li>
					<li><a href='#'><span>Nuevo asignacion</span></a></li>
					<li><a href='#'><span>Asignacion masiva</span></a></li>
				</ul>
			</li>
		</ul>
	</div>
<div class="menu-right">
	<div class="top-menu">
	<h1>Laptops</h1>
	<a class="button" id="openAddModal"  role="button">Add</a>
	<a class="button" href="~/Admin/Cancel/@Html.DisplayFor(modelItem => item.ID)" role="button">Export</a>
	<a class="button" href="~/Admin/Cancel/@Html.DisplayFor(modelItem => item.ID)" role="button">Import</a>

		<div class="h_search">
			<form action="{{ baseUrl }}" method="GET" {{ form_enctype(filterform) }}  novalidate="novalidate" role="form">
				<h2 class="text-danger">{{ form_errors(filterform.genres)|striptags }}</h2>	
				{{ form_widget(filterform.genres, { 'attr': {'class': 'form-control'} })  }}
				{{ form_widget(filterform.searchstring, { 'attr': {'class': 'form-control'} }) }}
				<input type="hidden" id="filterform__token" name="filterform[_token]" value="45072b220b3b190f6f6d863b5cd2a0d55f523c54" />
				{{ form_widget(filterform._token) }}
				<input type="submit" class="btn btn-primary pull-right" value="Filter" />

			</form>
	</div>
</div>
<div class="overvieuw">
	<table class="responstable">
		<tr>
			<th>
				
			</th>
			<th>
				serial nbr
			</th>
			<th>
				owner
			</th>
			<th>
				school
			</th>
			<th>
				model
			</th>
			<th>
				status
			</th>
			<th>
				uuid
			</th>
			<th>
				edit
			</th>
			<th>
				delete
			</th>
		</tr>
		{% for laptop in laptops %}
			<tr>
				<td>
	            	<input type="checkbox" name="query_myTextEditBox">    
	        	</td>
				<td>{{ laptop.serial_number }}</td>
				<td>{{ laptop.firstname }} {{ laptop.lastname }}</td>
				<td>{{ laptop.placename }}</td>
				<td>{{ laptop.modelName }}</td>
				<td>{{ laptop.description }}</td>
				<td>{{ laptop.uuid }}</td>

				<td class="text-right">
					<form action="{{ path('inventory.Laptops.edit', { 'LaptopId': laptop.laptopID}) }}" method="post" class="delete">
						<button type="submit" class="n-button cta-blue create modal-trigger"><i class="glyphicon glyphicon-trash"></i> Edit</button>
					</form>
				</td>
				<td class="text-right">
					<form action="{{ path('inventory.Laptops.delete', { 'LaptopId': laptop.laptopID}) }}" method="post" class="edit">
						<button type="submit" class="n-button cta-blue create modal-trigger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>
	<div class="center">
		<div class="pages">
			{% include  'pagination.twig' %}
		</div>
	</div>
	<div class="hiden" id="hiden">/{{show}}</div>
		<div id="openModal" class="modalDialog">
			<div>
				<a id="CloseAddModal"  class="close">X</a>
				<h3 id="change">Add User</h3>
				<div class="clear"></div>
				<div class="well clearfix" id="addUserForm">
					<form novalidate="novalidate" role="form">
						<fieldset>
							<div class="form-group">
								<div class="label">
									serial number
								</div>
								<div class="input">
									<input type="text" name="login" id="Serial" value="" placeholder="serial number...">
								</div>
								<div class="clear"></div>
								<div class="label">
									Model
								</div>
								<div class="input">
									<input type="text" id="Model" list="json-datalistModel" placeholder="Models..">
								</div>
								<datalist id="json-datalistModel"></datalist>
								<div class="clear"></div>
								<div class="label">
									owner
								</div>
								<div class="input">
									<input type="text" id="People" list="json-datalistPeople" placeholder="Owner..">
								</div>
								<datalist id="json-datalistPeople"></datalist>
								<div class="clear"></div>
								<div class="label">
									status
								</div>
								<div class="input">
									<input type="text" id="Status" list="json-datalistStatus" placeholder="Status..">
								</div>
								<datalist id="json-datalistStatus"></datalist>
								<div class="clear"></div>
								<div class="label">
									Uuid
								</div>
								<div class="input">
									<input type="text" id="Uuid" name="login" value="" placeholder="UuId...">
								</div>
								<div class="clear"></div>
							</div>
							<a class="button" id="AddLaptop"  role="button">Add</a>
							<p id="alert">Fill in all fields!</p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block pageScripts %}
<script src="{{ app.request.baseUrl }}/js/dropdown.js"></script>
<script src="{{ app.request.baseUrl }}/js/Inventory.js"></script>
{% endblock %}