{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Inventory' %}

{# Page specific css #}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/lijst.css" />
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/people.css" />
{% endblock %}
{% block pageContent %}
	{# Page specific content #}
	{% include  'menu.twig' %}
<div class="menu-right">
	<div class="top-menu">
	<h1><a href="{{ path('Inventory.people') }}">Propietario</a></h1>
	<a class="button" id="openAddModal"  role="button">agregar</a>
	<p class="text-muted">
        <em>{{ numItems }} registros</em>
    </p>
			<div class="h_search">
			<form action="{{ app.request.baseUrl }}" method="GET" {{ form_enctype(filterform) }}  novalidate="novalidate" role="form">
				<h2 class="text-danger">{{ form_errors(filterform.genres)|striptags }}</h2>	
				{{ form_widget(filterform.genres, { 'attr': {'class': 'form-control'} })  }}
				{{ form_widget(filterform.searchstring, { 'attr': {'class': 'form-control'} }) }}
				<input type="hidden" id="filterform__token" name="filterform[_token]" value="45072b220b3b190f6f6d863b5cd2a0d55f523c54" />
				{{ form_widget(filterform._token) }}
				<input type="submit" class="btn btn-primary pull-right" value="Filter" />

			</form>
	</div>
</div>
<div class="overvieuw">
	<table class="responstable" id="table">
		<tr>
			<th>
				<input type="checkbox" id="chechallboxes" name="checkbox">   
			</th>
			<th>
				Nombre
			</th>
			<th>
				Apellido
			</th>
			<th>
				Teléfono
			</th>
			<th>
				Email
			</th>
			<th>
				Región
			</th>
			<th>
				Escuela
			</th>
			<th>
				Perfil
			</th>
			<th>
				Guardarar
			</th> 
			<th>
				Eliminar
			</th>
		</tr>
		{% for person in people %}
			<tr>
				<td>
	            	<input type="checkbox" id="{{ person.id }}" name="checkbox">    
	        	</td>
				<td class="name">{{ person.name }}</td>
				<td class="lastname">{{ person.lastname }} </td>
				<td class="phone">{{ person.phone }}</td>
				<td class ="email">{{ person.email }}</td>
				<td class="place">{{ person.region }}</td>
				<td class="Schoolname">{{ person.Schoolname }}</td>
				<td class="profdescription">{{ person.profdescription }}</td>
				<td class="id_document displaynone">{{ person.id_document }}</td>
				<td class="birth_date displaynone">{{ person.birth_date }}</td>
				<td class="position displaynone">{{ person.position }}</td>
				<td class="id_document_created_at displaynone">{{ person.id_document_created_at }}</td>
				<td class="notes displaynone">{{ person.notes }}</td>
				<td class="typedescription displaynone">{{ person.typedescription }}</td>
				<td class="Turno displaynone">{{ person.Turno }}</td>
				<td class="Seccion displaynone">{{ person.Seccion }}</td>
				<td class="Grade displaynone">{{ person.grade }}</td>
				<td class="city displaynone">{{ person.city }}</td>
				<td class="text-right">
					<a class="button Guardarperson" id="Guardarperson" data="{{ person.id }}"  role="button">Guardarar</a>
				</td>
				<td class="text-right">
					<a class="button DeletePerson" id="DeletePerson" data="{{ person.id }}" role="button">Eliminar</a>
				</td> 
			</tr>
		{% endfor %}
	</table>
	<a class="button" id="GuardarSelectedPeople" role="button">Guardarar seleccionados</a>
	<a class="button" id="DeleteSelectedPeople" role="button">Eliminar Seleccionados</a>
	<div class="center">
		<div class="pages">
			{% include  'pagination.twig' %}
		</div>
	</div>
		<div id="openModal" class="modalDialog">
			<div>
				<a id="CloseAddModal"  class="close">X</a>
				<h3 id="change">Agregar Person</h3>
				<div class="clear"></div>
				<div class="well clearfix" id="addUserForm">
					<form novalidate="novalidate" role="form">
						<fieldset>
							<div class="form-group">
								<div class="formleft">
									<div class="label">
										Nombre
									</div>
									<div class="input">
										<input type="text" id="Name" placeholder="Name...">
									</div>
									<div class="clear"></div>
									<div class="label">
										Apellido
									</div>
									<div class="input">
										<input type="text" id="Lastname" placeholder="Lastname...">
									</div>
									<div class="clear"></div>
									<div class="label">
										Fecha de Nacimiento
									</div>
									<div class="input">
										<input type="text" id="birth_date" name="login" value="" placeholder="birth_date...">
									</div>
									<div class="clear"></div>
									<div class="label">
										Teléfono
									</div>
									<div class="input">
										<input type="text" id="phone" name="login" value="" placeholder="phone...">
									</div>
									<div class="clear"></div>
									<div class="label">
										Email
									</div>
									<div class="input">
										<input type="text" id="email" name="login" value="" placeholder="email...">
									</div>
									<div class="clear"></div>
									<div class="label">
										Notas
									</div>
									<div class="input">
										<input type="text" id="notes" name="login" value="" placeholder="notes...">
									</div>
								</div>
								<div class="formright">
									{% if access_level > 299 %}
										<div class="label">
										Perfil
										</div>
									
									<div class="input">
										<input type="text" id="profiles" list="json-datalistprofiles" placeholder="profiles..">
									</div>
									<datalist id="json-datalistprofiles"></datalist>
									{% endif %}
									<div class="clear"></div>
									<div class="label">
										Departamento
									</div>
									<div class="input">
										<input type="text" id="Departamento" list="json-datalistDepartamento" placeholder="Departamento...">
									</div>
									<datalist id="json-datalistDepartamento"></datalist>
									<div class="clear"></div>
									<div class="label">
										Ciudad
									</div>
									<div class="input">
										<input type="text" id="Ciudad" list="json-datalistCiudad" placeholder="Ciudad...">
									</div>
									<datalist id="json-datalistCiudad"></datalist>
									<div class="clear"></div>
									<div class="label">
										Escuela
									</div>
									<div class="input">
										<input type="text" id="Escuela" list="json-datalistEscuela" placeholder="Escuela...">
									</div>
									<datalist id="json-datalistEscuela"></datalist>
									<div class="clear"></div>
									<div class="label">
										Turno
									</div>
									<div class="input">
										<input type="text" id="Turno" list="json-datalistTurno" placeholder="Turno..">
									</div>
									<datalist id="json-datalistTurno"></datalist>
									<div class="clear"></div>
									<div class="label">
										grade
									</div>
									<div class="input">
										<input type="text" id="grade" list="json-datalistgrade" placeholder="profiles..">
									</div>
									<datalist id="json-datalistgrade"></datalist>
									<div class="clear"></div>
									<div class="label">
										Seccion
									</div>
									<div class="input">
										<input type="text" id="Seccion" list="json-datalistSeccion" placeholder="Seccion..">
									</div>
									<datalist id="json-datalistSeccion"></datalist>
									<div class="clear"></div>
								</div>
							</div>
							<a class="button" id="AddPerson" data="" role="button">Agregar</a>
							<p id="alert">Rellene todos los campos!</p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block pageScripts %}
	<script src="{{ app.request.baseUrl }}/js/general.js"></script>
<script src="{{ app.request.baseUrl }}/js/people.js"></script>
{% endblock %}