{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Inventory' %}

{# Page specific css #}
{% block pageCss %}
	<link rel="stylesheet" media="screen" href="{{ app.request.baseUrl }}/css/lijst.css" />
{% endblock %}
{% block pageContent %}
	{# Page specific content #}
	{% include  'menu.twig' %}
<div class="menu-right">
	<div class="top-menu">
	<h1>Laptops</h1>
	<a class="button" id="openAddModal"  role="button">Add</a>
	<form id="hiddenuploadform" method="post" action="{{ path('Inventory.laptops') }}"  {{ form_enctype(uploadform) }} novalidate="novalidate">
	    {{ form_widget(uploadform.file , { 'attr': {'onchange': 'this.form.submit()'} }) }} 
		{{ form_widget(uploadform._token) }}
	</form>
	<a class="button" id="ExportButton" role="button">Export</a>
	<a class="button" id="ImportButton"  role="button">Import</a>

		<div class="h_search">
			<form action="{{ baseUrl }}" method="GET" {{ form_enctype(filterform) }}  novalidate="novalidate" role="form">
				<h2 class="text-danger">{{ form_errors(filterform.genres)|striptags }}</h2>	
				{{ form_widget(filterform.genres, { 'attr': {'class': 'form-control'} })  }}
				{{ form_widget(filterform.searchstring, { 'attr': {'class': 'form-control'} }) }}
				<input type="hidden" id="filterform__token" name="filterform[_token]" value="45072b220b3b190f6f6d863b5cd2a0d55f523c54" />
				{{ form_widget(filterform._token) }}
				<input type="submit" class="btn btn-primary pull-right" value="Filter" />

			</form>
	</div>
</div>
<div class="overvieuw">
	<table class="responstable" id="table">
		<tr>
			<th>
				<input type="checkbox" id="chechallboxes" name="checkbox">   
			</th>
			<th>
				serial nbr
			</th>
			<th>
				owner
			</th>
			<th>
				school
			</th>
			<th>
				model
			</th>
			<th>
				status
			</th>
			<th>
				uuid
			</th>
			<th>
				edit
			</th>{# 
			<th>
				delete
			</th> #}
		</tr>
		{% for laptop in laptops %}
			<tr>
				<td>
	            	<input type="checkbox" id="{{ laptop.laptopID }}" name="checkbox">    
	        	</td>
				<td class="serial">{{ laptop.serial_number }}</td>
				<td class="name">{{ laptop.firstname }} {{ laptop.lastname }}</td>
				<td class="place">{{ laptop.placename }}</td>
				<td class ="model">{{ laptop.modelName }}</td>
				<td class="status">{{ laptop.description }}</td>
				<td class="uuid">{{ laptop.uuid }}</td>

				<td class="text-right">
					<a class="button EditLaptop" id="EditLaptop" data="{{ laptop.laptopID }}"  role="button">Edit</a>
				</td>{# 
				<td class="text-right">
					<a class="button DeleteLaptop" id="DeleteLaptop" data="{{ laptop.laptopID }}" role="button">delete</a>
				</td> #}
			</tr>
		{% endfor %}
	</table>
	<a class="button" id="EditSelectedLaptops" role="button">Edit selected</a>
	{# <a class="button" id="DeleteSelectedLaptops" role="button">delete selected</a> #}
	<div class="center">
		<div class="pages">
			{% include  'pagination.twig' %}
		</div>
	</div>
	<div class="hiden" id="hiden">/{{show}}</div>
		<div id="openModal" class="modalDialog">
			<div>
				<a id="CloseAddModal"  class="close">X</a>
				<h3 id="change">Add User</h3>
				<div class="clear"></div>
				<div class="well clearfix" id="addUserForm">
					<form novalidate="novalidate" role="form">
						<fieldset>
							<div class="form-group">
								<div class="label">
									serial number
								</div>
								<div class="input">
									<input type="text" name="login" id="Serial" value="" placeholder="serial number...">
								</div>
								<div class="clear"></div>
								<div class="label">
									Model
								</div>
								<div class="input">
									<input type="text" id="Model" list="json-datalistModel" placeholder="Models..">
								</div>
								<datalist id="json-datalistModel"></datalist>
								<div class="clear"></div>
								<div class="label">
									owner
								</div>
								<div class="input">
									<input type="text" id="People" list="json-datalistPeople" placeholder="Owner..">
								</div>
								<datalist id="json-datalistPeople"></datalist>
								<div class="clear"></div>
								<div class="label">
									status
								</div>
								<div class="input">
									<input type="text" id="Status" list="json-datalistStatus" placeholder="Status..">
								</div>
								<datalist id="json-datalistStatus"></datalist>
								<div class="clear"></div>
								<div class="label">
									Uuid
								</div>
								<div class="input">
									<input type="text" id="Uuid" name="login" value="" placeholder="UuId...">
								</div>
								<div class="clear"></div>
							</div>
							<a class="button" id="AddLaptop" data="" role="button">Add</a>
							<p id="alert">Fill in all fields!</p>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block pageScripts %}
<script src="{{ app.request.baseUrl }}/js/Inventory.js"></script>
{% endblock %}